[submodule "regression"]
	path = util/Metabuli-regression
	url = https://github.com/steineggerlab/Metabuli-regression.git
	branch = main
[submodule "lib/mmseqs"]
	path = lib/mmseqs
	url = https://github.com/jaebeom-kim/MMseqs2.git
[submodule "lib/fasta_validator"]
	path = lib/fasta_validator
	url = https://github.com/jaebeom-kim/fasta_validator.git
